*{
  padding: 0;
  margin: 0;
}

body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.btn-toolbar, .btn-group{
  width: 100%;
  margin-left: 25%;
}

.portfolio-item {
  margin: 2% 0;
  border: 1px solid blue;
}

h2{
  text-align: center;
}
a{
  color:white;
}
